[submodule "example/xmp-sys/libxmp"]
	path = examples/xmp-sys/libxmp
	url = https://github.com/cmatsuoka/libxmp/
[submodule "examples/libhello-sys"]
	path = examples/libhello-sys
	url = https://github.com/ahmed-masud/libhello-sys.git
